.table-container{
    width: 60%;
    margin-top: 65px;
    display: flex;
    justify-content: center;
    padding: 50px;
}

thead, tbody, tfoot, tr, td, th {
    text-align: center;
    vertical-align: middle;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.image-frame{
    width:30%;
    height: 500px;
    img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}