<div class="container">
<div class="table-container"> 
    <table class="table table-striped">
        <thead>
          <tr class="table-dark">
            <th scope="col">Id</th>
            <th scope="col">Email</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Avatar</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data; index as i;">
                <td>{{item.id}}</td>
                <td>{{item.email}}</td>
                <td>{{item.first_name}}</td>
                <td>{{item.last_name}}</td>
                <td (click)= 'maximize(item.avatar)' ><img [src]=item.avatar /></td>
            </tr>
        </tbody>
      </table>
      </div>
      <div class="image-frame">
          <img [src]="image">
      </div>
</div>