.card{
    width: 500px;
    // padding: 50px;
    margin-top: 50px;
    left: 37%;
    i{
        // font-size: 48px;
    }
    form{
        display: flex;
        flex-direction: column;
        padding: 30px;
        }
}