<div class="card">
  <div class="card-header">
    <i class="fa fa-user" aria-hidden="true"
      ><span class="p-5">Update Details</span></i
    >
  </div>
  <div class="card-body">
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <!-- Email input -->
      <div class="form-outline mb-4">
        <input
          type="text"
          id="form2Example1"
          class="form-control"
          formControlName="firstName"
        />
        <label class="form-label" for="form2Example1">First Name</label>
      </div>
      <div class="form-outline mb-4">
        <input
          type="text"
          id="form2Example1"
          class="form-control"
          formControlName="lastName"
        />
        <label class="form-label" for="form2Example1">Last Name</label>
      </div>
      <div class="form-outline mb-4">
        <input
          type="email"
          id="form2Example1"
          class="form-control"
          formControlName="email"
        />
        <label class="form-label" for="form2Example1">Email address</label>
      </div>
      <div class="form-outline mb-4">
        <label for="formFileLg" class="form-label">Upload Image</label>
        <input
          class="form-control form-control-lg"
          id="formFileLg"
          type="file"
          formControlName="avatar"
        />
      </div>

      <!-- 2 column grid layout for inline styling -->

      <!-- Submit button -->
      <button
        type="submit"
        class="btn btn-primary btn-block mb-4"
        [disabled]="!profileForm.valid"
      >
        Update
      </button>

      <!-- Register buttons -->
      <!-- <div class="text-center">
      <p>Not a member? <a href="#!">Register</a></p>
      <p>or sign up with:</p>
      <button type="button" class="btn btn-link btn-floating mx-1">
        <i class="fab fa-facebook-f"></i>
      </button>
  
      <button type="button" class="btn btn-link btn-floating mx-1">
        <i class="fab fa-google"></i>
      </button>
  
      <button type="button" class="btn btn-link btn-floating mx-1">
        <i class="fab fa-twitter"></i>
      </button>
  
      <button type="button" class="btn btn-link btn-floating mx-1">
        <i class="fab fa-github"></i>
      </button>
    </div> -->
    </form>
  </div>
</div>
